* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: #404040;
}

body {
    background-color: #333;
}




h2 {
    font-size: 2.3rem;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 5%;
  
}

.expense-p {
    color:rgb(177, 3, 3);
    font-size: 1.2rem;
    font-weight: 400;
}

.income-p {
    color:rgb(1, 105, 1);
    font-size: 1.2rem;
    font-weight: 400;
    
}



/* för att få det att se ut som ett nyhetsbrev som ser bra ut på stora skärmar
max-width är 900px sen går den över till 80% av sidan */

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background-color: white;
}

.background-container {
   height:75vh;
   /* background-image: url("/images/background_big.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */

}

/*för total presentationen*/

.result_container {
    background-image: url("images/header-big.jpg");
    background-position:center;
    background-size:cover;
    display:flex;
    justify-content: center;
    padding:10%;
    margin-bottom: 1px;
    border:1px solid black;
    
}

.total {
    display:flex;
    flex-direction: column;
}

#total_result {
    text-align: center;
    
}

#h1_total {
font-size: 4rem;
font-weight: 900;
text-transform: uppercase;
color:whitesmoke;
text-shadow: 1px 1px 1px black,
2px 3px 1px black;}

#total_result {
font-size: 3rem;
color:whitesmoke;
text-shadow: 1px 1px 1px black,
2px 3px 1px black;}

/* add value container and inputs */

.add_value_container {
    padding:3%;
    display:flex;
    justify-content: space-around;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;

}

#add_select {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center;
    font-size: 1.4rem;
    width:10%;
    height:2rem;
}

#add_text {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding-left: 1%;
    width:40%;
    height:2rem;
    
}

#add_amount {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding-left: 1%;
    width:30%;
    height:2rem;
}

/* För att ta bort styling på "add_amount"-fältet */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* submit och delete knappen */

.submit_delete_value {
    padding-top: 5%;
    padding-bottom: 3%;
    display:flex;
    justify-content: center;
}

#submit {
    position: relative;
    background-color: #303030;
    border-radius: 12px;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 1rem;
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#submit:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#submit:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  } 


#delete {
    position: relative;
    background-color: #303030;
    border-radius: 12px;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 1rem;
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#delete:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}







#delete:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



/* inkomster och utgifter divar */


.income_expenses {
    display:flex;
    justify-content: space-around;
}


